:root {
  --main-color: #757575;
  --main-bg-color: #ffffff;
  --webstudio-header-color: #000000;
  --webstudio-footer-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --hero-title-color: #ffffff;
  --btn-text-color: #ffffff;
  --btn-bg-color: #f5f4fa;
  --feature-title-color: #212121;
  --team-bg-color: #f5f4fa;
  --footer-addr-color: #ffffff;
  --footer-tel-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  /* Основной цвет - цвет абзацев */
  color: var(--main-color);
  /* Основной фон страницы */
  background-color: var(--main-bg-color);
  font-family: 'Roboto', Tahoma, sans-serif;
}

/* Убираем подчеркивание у ссылок */
.link {
  text-decoration: none;
}

/* Убираем точки у списков */
.list {
  list-style: none;
}

/* ---------------------HEADER--------------------- */

.webstudio-header {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--webstudio-header-color);
}

.webstudio-accent {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-link.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* ---------------------HERO--------------------- */

.hero {
  background-color: var(--dark-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  /* display: flex;
  align-items: center;
  text-align: center; */
}

/* ---------------------FEATURE--------------------- */

.feature-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ---------------------WORK--------------------- */

.section-title {
  font-size: 36px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* ---------------------TEAM--------------------- */

.team {
  background-color: var(--team-bg-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ---------------------FOOTER--------------------- */

.webstudio-footer {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--webstudio-footer-color);
}

.footer {
  background-color: var(--dark-bg-color);
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-addr-color);
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-tel-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* ---------------------PORTFOLIO--------------------- */

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--btn-bg-color);
}

.filters-btn:hover,
.filters-btn:focus,
.filters-btn.current {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
